.active {
  font-weight: bold !important;
  text-decoration: underline;
}

.nav-large {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  transition: padding 0.3s ease;
}

.nav-large .navbar-brand {
  font-size: 1.5rem !important;
  transition: font-size 0.3s ease;
}
